<!DOCTYPE html>
<HTML>

<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>Example HomeBuyer Report - HouzeCheck (1)</TITLE>
    <META name="generator" content="BCL easyConverter SDK 5.0.210">
    <link rel="stylesheet" href="https://pdfgenerator1.herokuapp.com/homebuyer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            counter-reset: page 2;
        }

        .pageNumber::after {
            counter-increment: page;
            content: counter(page);
        }


        .underPara {
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 20em;
        }

        .header1 {
            font-family: Century Schoolbook;
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 14em;
        }

        footer {
            bottom: 2em;
            position: fixed;
        }


        .content-block {
            position: absolute;
            overflow: visible;
            overflow: auto
        }

        .tt1 {
            border-bottom: 1px solid black;
        }

        .tt1 tr:last-child td:last-child {
            border-bottom: 1px solid black;
            width: 18em;
        }

        .tt1 tr {
            line-height: 1px;
        }
    </style>
</HEAD>

<body>
    <DIV id="page_9" style="padding-top:3em;margin-bottom:3em;">
        <DIV id="id9_2_2" style="margin-left: 11em;margin-bottom: 9px;">
            <P class="p3 ft31">Energy</P>
            <P class="p76 ft18">We have not prepared the Energy Performance Certificate (EPC). If we have seen the
                EPC, then we will present the ratings here. We have not checked these ratings and so cannot comment
                on their accuracy.</P>
            <P class="p77 ft18">We are advised that the property's current energy performance, as recorded in the
                EPC, is:</P>
        </DIV>
        <div>
            <div class="row" style="margin-bottom: 9px;">
                <div class="col">
                    <p style="font-size: 14px;padding-left: 1em;">Energy-足efficiency-rating</p>
                </div>
                <div class="col">
                    <div style="margin-right: 6em;
                    border: 1px solid black;
                    height: 2em;
                    margin-left: -15em;
                ">{{breaklines D91}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="    margin-left: 4em;">
                    <p style="font-size: 14px;">Environmental</p>
                    <p style="font-size: 14px;
                    margin-top: -1em;">impact rating</p>
                </div>
                <div class="col">
                    <div style="margin-right: 6em;
                    border: 1px solid black;
                    height: 2em;
                    margin-left: -17em;
                ">{{breaklines D92}}</div>
                </div>
            </div>
            <div style="margin-left: 10.5em;">
                <P class="p80 ft31">Mains services</P>
                <P class="p81 ft37">The marked boxes show that the mains services are present.</P>
                <div></div>
                <P class="p80 ft31">Central heating</P>
                <div></div>
                <P class="p80 ft31">Other services or energy sources (including feed足in tariffs)</P>
                <div style="border: 1px solid black;
                height: 2em;
                margin-right: 6em;">{{breaklines D10}}</div>
                <P class="p80 ft31">Grounds</P>
                <div style="border: 1px solid black;
                height: 5em;
                margin-right: 6em;">{{breaklines D11}}</div>
                <P class="p80 ft31">Location</P>
                <div style="border: 1px solid black;
                height: 2em;
                margin-right: 6em;">{{breaklines D12}}</div>
            </div>
        </div>
    </DIV>
    <DIV id="page_9" style="padding-top:3em;margin-bottom:3em;">
        <DIV id="id9_2_2" style="margin-left: 11em;margin-bottom: 9px;">
            <P class="p3 ft31">Energy</P>
            <P class="p76 ft18">We have not prepared the Energy Performance Certificate (EPC). If we have seen the
                EPC, then we will present the ratings here. We have not checked these ratings and so cannot comment
                on their accuracy.</P>
            <P class="p77 ft18">We are advised that the property's current energy performance, as recorded in the
                EPC, is:</P>
        </DIV>
        <div>
            <div class="row" style="margin-bottom: 9px;">
                <div class="col">
                    <p style="font-size: 14px;padding-left: 1em;">Energy-足efficiency-rating</p>
                </div>
                <div class="col">
                    <div style="margin-right: 6em;
                    border: 1px solid black;
                    height: 2em;
                    margin-left: -15em;
                ">{{breaklines D91}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="    margin-left: 4em;">
                    <p style="font-size: 14px;">Environmental</p>
                    <p style="font-size: 14px;
                    margin-top: -1em;">impact rating</p>
                </div>
                <div class="col">
                    <div style="margin-right: 6em;
                    border: 1px solid black;
                    height: 2em;
                    margin-left: -17em;
                ">{{breaklines D92}}</div>
                </div>
            </div>
            <div style="margin-left: 10.5em;">
                <P class="p80 ft31">Mains services</P>
                <P class="p81 ft37">The marked boxes show that the mains services are present.</P>
                <div></div>
                <P class="p80 ft31">Central heating</P>
                <div></div>
                <P class="p80 ft31">Other services or energy sources (including feed足in tariffs)</P>
                <div style="border: 1px solid black;
                height: 2em;
                margin-right: 6em;">{{breaklines D10}}</div>
                <P class="p80 ft31">Grounds</P>
                <div style="border: 1px solid black;
                height: 5em;
                margin-right: 6em;">{{breaklines D11}}</div>
                <P class="p80 ft31">Location</P>
                <div style="border: 1px solid black;
                height: 2em;
                margin-right: 6em;">{{breaklines D12}}</div>
            </div>
        </div>
    </DIV>
</body>

</HTML>