<!DOCTYPE html>
<HTML>

<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>Example HomeBuyer Report - HouzeCheck (1)</TITLE>
    <META name="generator" content="BCL easyConverter SDK 5.0.210">
    <link rel="stylesheet" href="https://pdfgenerator1.herokuapp.com/homebuyer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            counter-reset: page 1;
        }

        .img1 {
            margin-top: 3em;
            width: 11em;
            margin-left: 40em;
        }

        .img2 {
            width: 50em;
            margin: auto;
            display: block;
            margin-top: 15em;
        }

        .div1 {

            margin-top: 15em;
        }

        #page2Content {
            font-family: Century Schoolbook;
            margin-left: 5em;
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 10em;
        }

        .underPara {
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 20em;
        }




        .pageNumber::after {
            counter-increment: page;
            content: counter(page);
        }


        .header1 {
            font-family: Century Schoolbook;
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 14em;
        }




        .content-block {
            position: absolute;
            overflow: visible;
            overflow: auto
        }

        .tt1 {
            border-bottom: 1px solid #a0a4b0;
        }

        .tt1 tr:last-child td:last-child {
            border-bottom: 1px solid #a0a4b0;
            width: 18em;
        }

        .tt1 tr {
            line-height: 1px;
        }

        .para {
            padding-left: 1em;
            padding-top: 0.5em;
            font-size: 15px;
        }
    </style>
</HEAD>

<BODY>

    <DIV id="page_3" style="margin-top:1em;page-break-before: always">
        <div>
            <P class="p4 ft4 pageNumber mr-5"></P>
            <table style="margin:0em 5em 0em">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/A.jpg" width="50em">
                    </td>
                    <td style="padding-left:3em;">
                        <h2 class="header1">Intoduction to the report</h2>
                    </td>
                </tr>
            </table>
        </div>

        <DIV id="id3_1" style="margin-top:-4em;font-size:20px;">

            <P class="p15 ft18">This Building Survey is produced by an RICS surveyor who has written this report for
                you to use. If you decide not to act on the advice in this report, you do this at your own risk.</P>
            <P class="p16 ft18">The Building Survey aims to help you:</P>

            <ul class="p18 ft19">
                <li>
                    help you make a reasoned and informed decision when purchasing the property, or when planning for
                    repairs, maintenance or upgrading of the property;
                </li>
                <li>
                    provide detailed advice on condition;
                </li>
                <li>
                    describe the identifiable risk of potential or hidden defects;
                </li>
                <li>
                    where practicable and agreed, provide an estimate of costs for identified repairs; and
                </li>
                <li>
                    make recommendations as to any further actions or advice which need to be obtained before committing
                    to purchase.
                </li>
            </ul>
            <P class="p20 ft18">Section B gives an outline description of what the inspection covers. A more
                detailed description is contained in the 'Description of the RICS Building Survey Service' at the end of
                this report.</P>
            <P class="p20 ft18">Any extra services we provide that are not covered by the terms and conditions of
                this report must be covered by a separate contract.</P>
            <P class="p20 ft18">After reading this report you may have comments or questions. If so, please contact the
                RICS surveyor who has written this report for you (contact details are given in section L).</P>
            <P class="p20 ft18">If you want to complain about the service provided by the RICS surveyor, the surveyor
                will have an RICS­compliant complaints handling procedure and will give you a copy if you ask</P>

        </DIV>

    </DIV>

    <DIV id="page_4" style="padding-top:2em;page-break-before: always">
        <div>
            <P class="p4 ft4 pageNumber mr-5"></P>
            <table style="margin:0em 5em 0em">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/B.jpg" width="50em">
                    </td>
                    <td style="padding-left:3em;">
                        <h2 class="header1">About the inspection</h2>
                    </td>
                </tr>
            </table>
        </div>

        <div style="margin-top: 2em;">
            <table>
                <tr>
                    <td>
                        <P class="p23 ft2">Surveyor's name</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 2.5em;
                    width: 35em;
                ">
                            <p>{{breaklines A04}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p23 ft2">Surveyor's RICS number</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 2.5em;
                    width: 35em;
                ">
                            <p>{{breaklines A05}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p23 ft2">Company name</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 2.5em;
                    width: 35em;
                ">
                            <p>{{breaklines A011}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p23 ft2">Date of the inspection</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div class="row">
                            <div class="col">
                                <div style="border: 1px solid #a0a4b0;
                            height: 2.5em;
                            width: 12em;
                 ">
                                    <p>{{breaklines A02}}</p>
                                </div>
                            </div>
                            <div class="col">
                                <P class="ft2" style="padding-top: 1em;margin-left: -1em;">Report reference number</P>
                            </div>
                            <div class="col">
                                <div class="col">
                                    <div style="margin-right: -1em;
                                border: 1px solid #a0a4b0;
                                height: 2em;
                                width: 12.5em;
                                margin-left: -4em;
                     ">
                                        <p>{{breaklines A06}}</p>
                                    </div>
                                </div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p25 ft2">Related party disclosure</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 2.5em;width: 35em;
                ">
                            <p>{{breaklines B2}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p25 ft2">Full address</P>
                        <P class="p25 ft2"> and postcode</P>
                        <P class="p25 ft2"> of the property</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 5em;width: 35em;
                ">
                            <p>{{breaklines A09}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p25 ft2">Weather conditions</P>
                        <P class="p25 ft2"> when the inspection</P>
                        <P class="p25 ft2"> took place</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 2.5em;width: 35em;
                ">
                            <p>{{breaklines B4}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p25 ft2">The status of the</P>
                        <P class="p25 ft2"> property when the</P>
                        <P class="p25 ft2"> inspection took place</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 4em;width: 35em;
                ">
                            <p>{{breaklines B5}}</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </DIV>
    <DIV id="page_5" style="padding-top:2em;page-break-before: always">
        <div>
            <P class="p4 ft4 pageNumber mr-5"></P>
            <table style="margin:0em 5em 0em">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/B.jpg" width="50em">
                    </td>
                    <td style="padding-left:3em;">
                        <h3 class="header1">About the inspection (continued)</h3>
                    </td>
                </tr>
            </table>
        </div>

        <DIV id="id5_1">
            <P class="p30 ft18">We inspect the inside and outside of the main building and all permanent outbuildings,
                but we do not force or open up the fabric. We also inspect the parts of the electricity, gas/oil, water,
                heating and drainage services that can be seen, but we do not test them.</P>
            <P class="p31 ft18">To help describe the condition of the home, we give condition ratings to the main parts
                (the 'elements') of the building, garage and some parts outside. Some elements can be made up of several
                different parts.</P>
            <P class="p32 ft18">In the element boxes in parts E, F, G and H, we describe the part that has the worst
                condition rating first and then briefly outline the condition of the other parts. The condition ratings
                are described as follows.</P>
            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/123.PNG"
                style="padding-left: 121px;padding-top: 2em;">
            <P class="p36 ft18">The report covers matters that, in the surveyor's opinion, need to be dealt with or may
                affect the value of the property.</P>
            <P class="p37 ft17">Important note: We carry out only a visual inspection. This means that we do not take up
                carpets, floor coverings or floorboards, move furniture or remove the contents of cupboards. Also, we do
                not remove secured panels or undo electrical fittings.</P>
            <P class="p38 ft17">We carefully and thoroughly inspect the property using our best endeavours to see as
                much of it as is physically accessible. Where this is not possible an explanation will be provided.</P>
            <P class="p39 ft17">We visually inspect roofs, chimneys and other surfaces on the outside of the building
                from ground level and, if necessary, from neighbouring public property and with the help of binoculars.
                Flat roofs no more than 3m above ground level are inspected using a ladder where it is safe to do so.
            </P>
            <P class="p40 ft17">We inspect the roof structure from inside the roof space if there is safe access. We
                examine floor surfaces and under­floor spaces so far as there is safe access and permission from the
                owner. We are not able to assess the condition of the inside of any chimney, boiler or other flues. We
                do not lift fitted carpets or coverings without the owner's consent. Intermittent faults of services may
                not be apparent
                on the day of inspection
                .</P>
            <P class="p41 ft17">If we are concerned about parts of the property that the inspection cannot cover, the
                report will tell you about any further investigations that are needed.</P>

            <P class="p41 ft17">Where practicable and agreed we report on the cost of any work for identified repairs
                and make recommendations on how these repairs should be carried out. Some maintenance and repairs that
                we suggest may be expensive. Purely cosmetic and minor maintenance defects that have no effect on
                performance might not be reported. The report that we provide is not a warranty.</P>

        </DIV>
    </DIV>
    <DIV id="page_6" style="padding-top:2em;page-break-before: always">
        <div>
            <P class="p4 ft4 pageNumber mr-5"></P>
            <table style="margin:0em 5em 0em">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/C.jpg" width="50em">
                    </td>
                    <td style="padding-left:3em;">
                        <img class="header1" src="https://pdfgenerator1.herokuapp.com/images/homebuyer/C1.jpg"
                            style="width: 25em;">
                    </td>
                </tr>
            </table>
        </div>
        <DIV id="id6_1">
            <P class="p43 ft18">This section provides our overall opinion of the property, highlighting areas of
                concern, and summarises the condition ratings of different elements of the property (with only the worst
                rating per element being inputted in the tables).
                It also provides a summary of repairs (and cost guidance where agreed) and
                recommendations for further investigations
            </P>
            <P class="p45 ft18">To make sure you get a balanced impression of the property, we strongly recommend that
                you read all sections of the report, in particular the 'What to do now' section,and discuss in detail
                with us.</P>
            <div style="border-bottom: 1px solid #a0a4b0;width: 35em;margin-left: 11em;padding-top: 2em;
        margin-bottom: -1em;"></div>
            <P class="p46 ft31">Our overall opinion of the property</P>
            <div style="border: 1px solid #a0a4b0;width: 35em;margin-left: 11em;margin-top: 11px;">
                <P class="p47 ft30">{{breaklines1 C1}}</P>
            </div>
            <table style="margin-top: 1em;margin-left: 4em;">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/3.png" style="width: 3.8em;">
                    </td>
                    <td style="padding-left: 3em;">
                        <P class="p24 ft32">Section of the report</P>
                    </td>
                    <td style="padding-left: 5em;">
                        <P class="p50 ft32">Element</P>
                        <P class="p50 ft32">Number</P>
                    </td>
                    <td style="padding-left: 1em;">
                        <P class="p51 ft32">Element Name</P>
                    </td>
                </tr>
            </table>
            <table style="margin-top: 1em;margin-left: 11em;" class="tt1">
                {{#C21}}
                <tr>
                    <td style="border-right: 1px solid #a0a4b0;">
                        <div style="width: 10em;">
                            <p style="font-size: 15px;">{{report}}</p>
                        </div>
                    </td>
                    <td style="padding-left: 1.5em;border-right: 1px solid #a0a4b0;padding-right: 2em;">
                        <p style="font-size: 15px;">{{number}}</p>
                    </td>
                    <td>
                        <p style="font-size: 13px;margin-left: 1.2em;">{{name}}</p>
                    </td>
                </tr>
                {{/C21}}
            </table>

            <table style="margin-top: 1em;margin-left: 4em;">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/2.png" style="width: 3.8em;">
                    </td>
                    <td style="padding-left: 3em;">
                        <P class="p24 ft32">Section of the report</P>
                    </td>
                    <td style="padding-left: 5em;">
                        <P class="p50 ft32">Element</P>
                        <P class="p50 ft32">Number</P>
                    </td>
                    <td style="padding-left: 1em;">
                        <P class="p51 ft32">Element Name</P>
                    </td>
                </tr>
            </table>
            <table style="margin-top: 1em;margin-left: 11em;" class="tt1">
                {{#C22}}
                <tr>
                    <td style="border-right: 1px solid #a0a4b0;">
                        <div style="width: 11.5em;">
                            <p style="font-size: 15px;">{{report}}</p>
                        </div>
                    </td>
                    <td style="padding-left: 1.5em;border-right: 1px solid #a0a4b0;padding-right: 2.5em;">
                        <p style="font-size: 15px;">{{number}}</p>
                    </td>
                    <td>
                        <p style="font-size: 15px;margin-left: 1.2em;">{{name}}</p>
                    </td>
                </tr>
                {{/C22}}
            </table>


            <table style="margin-top: 2em;margin-left: 4em;">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/1.png" style="width: 3.8em;">
                    </td>
                    <td style="padding-left: 3em;">
                        <P class="p24 ft32">Section of the report</P>
                    </td>
                    <td style="padding-left: 5em;">
                        <P class="p50 ft32">Element</P>
                        <P class="p50 ft32">Number</P>
                    </td>
                    <td style="padding-left: 1em;">
                        <P class="p51 ft32">Element Name</P>
                    </td>
                </tr>
            </table>
            <table style="margin-top: 1em;margin-left: 11em;" class="tt1">
                {{#C23}}
                <tr>
                    <td style="border-right: 1px solid #a0a4b0;">
                        <div style="width: 11.5em;">
                            <p style="font-size: 15px;">{{report}}</p>
                        </div>
                    </td>
                    <td style="padding-left: 1.5em;border-right: 1px solid #a0a4b0;padding-right: 2.5em;">
                        <p style="font-size: 15px;">{{number}}</p>
                    </td>
                    <td>
                        <p style="font-size: 15px;margin-left: 1.2em;">{{name}}</p>
                    </td>
                </tr>
                {{/C23}}
            </table>
        </DIV>
    </DIV>
    <DIV id="page_7" style="padding-top:2em;page-break-before: always">
        <div>
            <P class="p4 ft4 pageNumber mr-5"></P>
            <table style="margin:0em 5em 0em">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/C.jpg" width="50em">
                    </td>
                    <td style="padding-left:3em;">
                        <img class="header1" src="https://pdfgenerator1.herokuapp.com/images/homebuyer/C2.jpg"
                            style="width: 25em;">
                    </td>
                </tr>
            </table>
        </div>
        <DIV id="id6_1" class="pt--30">
            {{!-- <h3 class="p43 ft18"> Summary of repairs (and cost guidance)</h3>
            <P class="p43 ft18">This section provides our overall opinion of the property, highlighting areas of
                concern, and summarises the condition ratings of different elements of the property (with only the worst
                rating per element being inputted in the tables).
                It also provides a summary of repairs (and cost guidance where agreed) and
                recommendations for further investigations
            </P> --}}
            <h3 class="p43 ft18"> Further investigations</h3>
            <P class="p45 ft18">Further investigations should be obtained prior to legal commitment to purchase the
                property (see "What to do now")</P>
            <div style="border-bottom: 1px solid #a0a4b0;width: 35em;margin-left: 11em;padding-top: 2em;
        margin-bottom: -1em;"></div>
        </DIV>
    </DIV>
    <DIV id="page_8" style="padding-top:2em;page-break-before: always">
        <div>
            <P class="p4 ft4 pageNumber mr-5"></P>
            <table style="margin:0em 5em 0em">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/D.jpg" width="50em">
                    </td>
                    <td style="padding-left:3em;">
                        <img class="header1" src="https://pdfgenerator1.herokuapp.com/images/homebuyer/D1.jpg"
                            style="width: 23em;">
                    </td>
                </tr>
            </table>
        </div>

        <div class="mt-2">
            <div class="row" style="margin-bottom: 1em;">
                <div class="col" style="margin-left: 5em;">
                    <P class="p24 ft2">Type of property</P>
                </div>
                <div class="col" style="margin-left: -34em;">
                    <div style="border: 1px solid #a0a4b0;width: 34em;">
                        <p class="p73 ft30">{{breaklines1 D1}}</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 1em;">
                <div class="col" style="margin-left: 5em;">
                    <P class="p60 ft2">Approximate year the property was built</P>
                </div>
                <div class="col" style="margin-left: -15em;">
                    <div style="border: 1px solid #a0a4b0;height: 2em;width: 24.5em;">
                        <p>{{breaklines D2}}</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 1em;">
                <div class="col" style="margin-left: 5em;">
                    <P class="p60 ft2">Approximate year the property was extended</P>
                </div>
                <div class="col" style="margin-left: -15em;">
                    <div style="border: 1px solid #a0a4b0;height: 2em;width: 24.5em;">
                        <p>{{breaklines D3}}</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 1em;">
                <div class="col" style="margin-left: 5em;">
                    <P class="p60 ft2">Approximate year the property was converted</P>
                </div>
                <div class="col" style="margin-left: -15em;">
                    <div style="border: 1px solid #a0a4b0;height: 2em;width: 24.5em;">
                        <p>{{breaklines D4}}</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 1em;">
                <div class="col" style="margin-left: 5em;">
                    <P class="p60 ft2">Information relevant to flats and maisonettes</P>
                </div>
                <div class="col" style="margin-left: -15em;">
                    <div style="border: 1px solid #a0a4b0;height: 2em;width: 24.5em;">
                        <p>{{breaklines D5}}</p>
                    </div>
                </div>
            </div>
            <P class="p24 ft31" style="margin-left: 11em;margin-bottom: 1em;">Accommodation</P>
            <table style="margin-left: 7em;">
                <tr>
                    <td>
                        <p style="font-size: 14px;">Floor</p>
                    </td>
                    <td style="padding-left: 1em;">
                        <p style="font-size: 14px;">Living</p>
                        <p style="font-size: 14px;margin-top: -1.5em;">rooms</p>
                    </td>
                    <td style="padding-left: 1em;">
                        <p style="font-size: 14px;">Bed-</p>
                        <p style="font-size: 14px;margin-top: -1.5em;">rooms</p>
                    </td>
                    <td style="padding-left: 1em;">
                        <p style="font-size: 14px;">Bath or</p>
                        <p style="font-size: 14px;margin-top: -1.5em;">shower</p>
                    </td>
                    <td style="padding-left: 1em;">
                        <p style="font-size: 14px;">Seperate</p>
                        <p style="font-size: 14px;margin-top: -1.5em;">toilet</p>
                    </td>
                    <td style="padding-left: 1em;">
                        <p style="font-size: 14px;">Kitchen</p>
                    </td>
                    <td style="padding-left: 1em;">
                        <p style="font-size: 14px;">Utility</p>
                        <p style="font-size: 14px;margin-top: -1.5em;">room</p>
                    </td>
                    <td style="padding-left: 1em;">
                        <p style="font-size: 14px;">Conser -</p>
                        <p style="font-size: 14px;margin-top: -1.5em;">vatory</p>
                    </td>
                    <td style="padding-left: 1em;">
                        <p style="font-size: 14px;">Other</p>
                    </td>
                    <td style="padding-left: 1em;">
                        <p style="font-size: 14px;">Name of</p>
                        <p style="font-size: 14px;margin-top: -1.5em;">other</p>
                    </td>
                </tr>
            </table>
            <table style="margin-left: 7em;">
                <tr>
                    <td>
                        <p style="font-size: 14px;    margin-left: -3em;">Lower ground</p>
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D01.[Living rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D01.[Bed-rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D01.[Bath or shower]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D01.[Seperate toilet]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D01.[Kitchen]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D01.[Utility room]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D01.[Conser-vatory]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D01.[Other]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D01.[Name of other]}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 14px;margin-left: -1em;">Ground</p>
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D02.[Living rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D02.[Bed-rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D02.[Bath or shower]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D02.[Seperate toilet]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D02.[Kitchen]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D02.[Utility room]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D02.[Conser-vatory]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D02.[Other]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D02.[Name of other]}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 14px;margin-left: -1em;">First</p>
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D03.[Living rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D03.[Bed-rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D03.[Bath or shower]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D03.[Seperate toilet]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D03.[Kitchen]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D03.[Utility room]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D03.[Conser-vatory]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D03.[Other]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D03.[Name of other]}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 14px;margin-left: -1em;">Second</p>
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D04.[Living rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D04.[Bed-rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D04.[Bath or shower]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D04.[Seperate toilet]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D04.[Kitchen]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D04.[Utility room]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D04.[Conser-vatory]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D04.[Other]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D04.[Name of other]}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 14px;margin-left: -1em;">Third</p>
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D05.[Living rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D05.[Bed-rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D05.[Bath or shower]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D05.[Seperate toilet]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D05.[Kitchen]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D05.[Utility room]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D05.[Conser-vatory]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D05.[Other]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D05.[Name of other]}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 14px;margin-left: -1em;">Other</p>
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D06.[Living rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D06.[Bed-rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D06.[Bath or shower]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D06.[Seperate toilet]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D06.[Kitchen]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D06.[Utility room]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D06.[Conser-vatory]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D06.[Other]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D06.[Name of other]}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 14px;margin-left: -3em;">Roof Space</p>
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D07.[Living rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D07.[Bed-rooms]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D07.[Bath or shower]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D07.[Seperate toilet]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D07.[Kitchen]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D07.[Utility room]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:5em;height: 2em;">
                        {{D07.[Conser-vatory]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D07.[Other]}}
                    </td>
                    <td style="border: 1px solid #a0a4b0;width:3.5em;height: 2em;">
                        {{D07.[Name of other]}}
                    </td>
                </tr>
            </table>
            <P class="p72 ft31">Construction</P>
            <div style="border: 1px solid #a0a4b0;margin-left: 11em;margin-right: 5em;">
                <P class="p73 ft30">{{breaklines1 D6}}</P>
            </div>
            <P class="p72 ft31">Means of escape</P>
            <div style="border: 1px solid #a0a4b0;margin-left: 11em;margin-right: 5em;">
                <P class="p73 ft30">{{breaklines1 D6}}</P>
            </div>
            <P class="p72 ft31">Security</P>
            <div style="border: 1px solid #a0a4b0;margin-left: 11em;margin-right: 5em;">
                <P class="p73 ft30">{{breaklines1 D6}}</P>
            </div>
        </div>
    </DIV>
    {{!-- <DIV id="page_9" style="padding-top:2em;page-break-before: always">
        <div>
            <P class="p4 ft4 pageNumber mr-5"></P>
            <table style="margin:0em 5em 0em">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/D.jpg" width="50em">
                    </td>
                    <td style="padding-left:3em;">
                        <img class="header1" src="https://pdfgenerator1.herokuapp.com/images/homebuyer/D2.jpg" style="width: 25em;">
                    </td>
                </tr>
            </table>
        </div>
        <DIV id="id9_2_2" style="margin-left: 11em;margin-bottom: 9px;">
            <P class="p3 ft31">Energy</P>
            <P class="p76 ft18">We have not prepared the Energy Performance Certificate (EPC). If we have seen the
                EPC, then we will present the ratings here. We have not checked these ratings and so cannot comment
                on their accuracy.</P>
            <P class="p77 ft18">We are advised that the property's current energy performance, as recorded in the
                EPC, is:</P>
        </DIV>
        <div>
            <div class="row" style="margin-bottom: 9px;">
                <div class="col">
                    <p style="font-size: 14px;padding-left: 1em;">Energy-­efficiency-rating</p>
                </div>
                <div class="col">
                    <div style="margin-right: 6em;
                border: 1px solid #a0a4b0;
                height: 2em;
                margin-left: -13.5em;
            ">{{breaklines D91}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="    margin-left: 4em;">
                    <p style="font-size: 14px;">Environmental</p>
                    <p style="font-size: 14px;
                margin-top: -1em;">impact rating</p>
                </div>
                <div class="col">
                    <div style="margin-right: 6em;
                border: 1px solid #a0a4b0;
                height: 2em;
                margin-left: -15.5em;
            ">{{breaklines D92}}</div>
                </div>
            </div>
            <div style="margin-left: 10.5em; margin-top:-1em">
                <P class="p80 ft31">Mains services</P>
                <P class="p81 ft37">The marked boxes show that the mains services are present.</P>
                <div class="row" style="margin-left:0em;padding-right: 8em;">
                    <div class="col">
                        <div class="row">

                            {{#ifEquals D93.[Gas] "Gas"}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/checked.PNG">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/unchecked.PNG">
                            {{/ifEquals}}
                            <div style="font-size: 15px;">Gas</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">

                            {{#ifEquals D93.[Electricity] "Electricity"}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/checked.PNG">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/unchecked.PNG">
                            {{/ifEquals}}
                            <div style="font-size: 15px;">Electricity</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">

                            {{#ifEquals D93.[Water] "Water"}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/checked.PNG">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/unchecked.PNG">
                            {{/ifEquals}}
                            <div style="font-size: 15px;">Water</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">

                            {{#ifEquals D93.[Drainage] "Drainage"}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/checked.PNG">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/unchecked.PNG">
                            {{/ifEquals}}
                            <div style="font-size: 15px;">Drainage</div>
                        </div>
                    </div>
                </div>
                <P class="p80 ft31">Central heating</P>
                <div class="row" style="margin-left:0em;padding-right: 8em;">
                    <div class="col">
                        <div class="row">

                            {{#ifEquals D93.[Gas] "Gas"}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/checked.PNG">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/unchecked.PNG">
                            {{/ifEquals}}
                            <div style="font-size: 15px;">Gas</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">

                            {{#ifEquals D93.[Electric] "Electric"}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/checked.PNG">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/unchecked.PNG">
                            {{/ifEquals}}
                            <div style="font-size: 15px;">Electric</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">

                            {{#ifEquals D93.[Solid fuel] "Solid fuel"}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/checked.PNG">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/unchecked.PNG">
                            {{/ifEquals}}
                            <div style="font-size: 15px;">Solid fuel</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">

                            {{#ifEquals D93.[Oil] "Oil"}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/checked.PNG">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/unchecked.PNG">
                            {{/ifEquals}}
                            <div style="font-size: 15px;">Oil</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            {{#ifEquals D93.[None] "None"}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/checked.PNG">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/unchecked.PNG">
                            {{/ifEquals}}
                            <div style="font-size: 15px;">None</div>
                        </div>
                    </div>
                </div>
                <P class="p80 ft31">Other services or energy sources (including feed­in tariffs)</P>
                <div style="border: 1px solid #a0a4b0;
            margin-right: 6em;font-size: 15px;">{{breaklines1 D10}}</div>
                <P class="p80 ft31">Grounds</P>
                <div style="border: 1px solid #a0a4b0;
            margin-right: 6em;font-size: 15px;">{{breaklines1 D11}}</div>
                <P class="p80 ft31">Location</P>
                <div style="border: 1px solid #a0a4b0;
            margin-right: 6em;font-size: 15px;">{{breaklines1 D12}}</div>
            </div>
        </div>
    </DIV>
    <DIV id="page_10" style="padding-top:2em;page-break-before: always">
        <div>
            <P class="p4 ft4 pageNumber mr-5"></P>
            <table style="margin:0em 5em 0em">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/D.jpg" width="50em">
                    </td>
                    <td style="padding-left:3em;">
                        <img class="header1" src="https://pdfgenerator1.herokuapp.com/images/homebuyer/D2.jpg" style="width: 25em;">
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div style="margin-left: 10.5em; margin-top:-1em">
                <P class="p80 ft31">Facilities</P>
                <div style="border: 1px solid #a0a4b0;
            margin-right: 6em;font-size: 15px;">{{breaklines1 D13}}</div>
                <P class="p80 ft31">Local environment</P>
                <div style="border: 1px solid #a0a4b0;
            margin-right: 6em;font-size: 15px;">{{breaklines1 D14}}</div>
            </div>
        </div>
    </DIV>
    <DIV id="page_11" style="page-break-before: always">
        <div>
            <P class="p4 ft4 pageNumber mr-5"></P>
            <table style="margin:0em 5em 0em">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/E.png" width="50em">
                    </td>
                    <td style="padding-left:3em;">
                        <img class="header1" src="https://pdfgenerator1.herokuapp.com/images/homebuyer/E1.jpg" style="width: 25em;">
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div style="margin-left: 10.5em; margin-top:-1em">
                <P class="p80 ft31">Limitations to inspection</P>
                <div style="border: 1px solid #a0a4b0;
            margin-right: 6em;font-size: 15px;">{{breaklines1 E0}}</div>
            </div>
            <table style="margin-left: 8em;">
                <tr>
                    <td>
                        <p>E1</p>
                        <p style="margin-left: -6em;
                margin-top: -1em;">Chimney stacks</p>
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table>
                                <tr>
                                    <td>
                                        {{breaklines1 E1.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals E1.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals E1.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals E1.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p>E2</p>
                        <p style="margin-left: -5.5em;
                margin-top: -1em;">Roof coverings</p>
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 E2.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals E2.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals E2.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals E2.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>E3</p>
                        <p style="margin-left: -6em;
                margin-top: -1em;">Rainwater pipes</p>
                        <p style="margin-left: -4em;
                margin-top: -1em;">and gutters</p>
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 E3.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals E3.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals E3.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals E3.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>E4</p>
                        <p style="margin-left: -4em;
                margin-top: -1em;">Main walls</p>
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 E4.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals E4.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals E4.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals E4.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>E5</p>
                        <p style="margin-left: -3em;
                margin-top: -1em;">Windows</p>
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 E5.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals E5.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals E5.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals E5.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>E6</p>
                        <p style="margin-left: -3em;
                margin-top: -1em;">Windows</p>
                        <p style="margin-left: -5em;
                margin-top: -1em;">Outside doors</p>
                        {{!-- <p style="margin-left: -4em;
                margin-top: -1em;">Outside doors</p> --}}
    </td>
    <td style="padding-left: 1.4em;">
        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
            <table class="tt">
                <tr>
                    <td>
                        {{breaklines1 E6.value}}
                    </td>
                    <td style="vertical-align: top;">
                        {{#ifEquals E6.rating 1}}
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                        {{else}}
                        {{#ifEquals E6.rating 2}}
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                        {{else}}
                        {{#ifEquals E6.rating 3}}
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                        {{else}}
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                    </td>
                </tr>
            </table>
        </div>
    </td>
    </tr>

    <tr>
        <td>
            <p>E7</p>
            <p style="margin-left: -5em;
                margin-top: -1em;">Conservatory</p>
            <p style="margin-left: -5em;
                margin-top: -1em;">and porches</p>
            {{!-- <p style="margin-left: -4em;
                margin-top: -1em;">Outside doors</p> --}}
        </td>
        <td style="padding-left: 1.4em;">
            <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                <table class="tt">
                    <tr>
                        <td>
                            {{breaklines1 E7.value}}
                        </td>
                        <td style="vertical-align: top;">
                            {{#ifEquals E7.rating 1}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                            {{else}}
                            {{#ifEquals E7.rating 2}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                            {{else}}
                            {{#ifEquals E7.rating 3}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                            {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <p>E8</p>
            <p style="margin-left: -5em;
                margin-top: -1em;">Other joinery</p>
            <p style="margin-left: -5em;
                margin-top: -1em;">and finishes</p>
            {{!-- <p style="margin-left: -4em;
                margin-top: -1em;">Outside doors</p> --}}
        </td>
        <td style="padding-left: 1.4em;">
            <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                <table class="tt">
                    <tr>
                        <td>
                            {{breaklines1 E8.value}}
                        </td>
                        <td style="vertical-align: top;">
                            {{#ifEquals E8.rating 1}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                            {{else}}
                            {{#ifEquals E8.rating 2}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                            {{else}}
                            {{#ifEquals E8.rating 3}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                            {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <p>E9</p>
            <p style="margin-left: -2em;
                margin-top: -1em;">Other</p>
            {{!-- <p style="margin-left: -6em;
                margin-top: -1em;">and finishes</p> --}}
            {{!-- <p style="margin-left: -4em;
                margin-top: -1em;">Outside doors</p> --}}
        </td>
        <td style="padding-left: 1.4em;">
            <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                <table class="tt">
                    <tr>
                        <td>
                            {{breaklines1 E9.value}}
                        </td>
                        <td style="vertical-align: top;">
                            {{#ifEquals E9.rating 1}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                            {{else}}
                            {{#ifEquals E9.rating 2}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                            {{else}}
                            {{#ifEquals E9.rating 3}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                            {{else}}
                            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                            {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    </table>
    </div>
    </DIV>

    <DIV id="page_12" style="page-break-before: always">
        <div>
            <P class="p4 ft4 pageNumber mr-5"></P>
            <table style="margin:0em 5em 0em">
                <tr>
                    <td>
                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/F.png" width="50em">
                    </td>
                    <td style="padding-left:3em;">
                        <img class="header1" src="https://pdfgenerator1.herokuapp.com/images/homebuyer/F1.jpg"
                            style="width: 25em;">
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-top: -1em;">
            <div style="margin-left: 10.5em; margin-top:-1em">
                <P class="p80 ft31">Limitations to inspection</P>
                <div style="border: 1px solid #a0a4b0;
            margin-right: 6em;font-size: 15px;">{{breaklines1 F0.value}}</div>
            </div>
            <table style="margin-left: 8em;">
                <tr>
                    <td>
                        <p>F1</p>
                        <p style="margin-left: -6em;
                margin-top: -1em;">Roof structure</p>
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table>
                                <tr>
                                    <td>
                                        {{breaklines1 F1.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals F1.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals F1.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals F1.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p>F2</p>
                        <p style="margin-left: -4em;
                margin-top: -1em;">Ceilings</p>
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 F2.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals F2.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals F2.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals F2.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>F3</p>
                        <p style="margin-left: -10em;
                margin-top: -1em;">Walls and partitions</p>
                        <p style="margin-left: -4em;
                margin-top: -1em;">and gutters</p>
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 F3.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals F3.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals F3.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals F3.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>F4</p>
                        <p style="margin-left: -4em;
                margin-top: -1em;">Floors</p>
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 F4.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals F4.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals F4.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals F4.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>F5</p>
                        <p style="margin-left: -7em;
                margin-top: -1em;">Fireplaces, chimney</p>
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 F5.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals F5.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals F5.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals F5.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>F6</p>
                        <p style="margin-left: -7em;
                margin-top: -1em;">Built­in fittings</p>
                        {{!-- <p style="margin-left: -5em;
                margin-top: -1em;">Outside doors</p> --}}
                        {{!-- <p style="margin-left: -4em;
                margin-top: -1em;">Outside doors</p> --}}
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 F6.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals F6.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals F6.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals F6.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>F7</p>
                        <p style="margin-left: -5em;
                margin-top: -1em;">Woodwork</p>
                        {{!-- <p style="margin-left: -5em;
                margin-top: -1em;">and porches</p> --}}
                        {{!-- <p style="margin-left: -4em;
                margin-top: -1em;">Outside doors</p> --}}
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 F7.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals F7.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals F7.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals F7.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>F8</p>
                        <p style="margin-left: -7em;
                margin-top: -1em;">Bathroom fittings</p>
                        {{!-- <p style="margin-left: -5em;
                margin-top: -1em;">and finishes</p> --}}
                        {{!-- <p style="margin-left: -4em;
                margin-top: -1em;">Outside doors</p> --}}
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 F8.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals F8.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals F8.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals F8.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>F9</p>
                        <p style="margin-left: -2em;
                margin-top: -1em;">Other</p>
                        {{!-- <p style="margin-left: -6em;
                margin-top: -1em;">and finishes</p> --}}
                        {{!-- <p style="margin-left: -4em;
                margin-top: -1em;">Outside doors</p> --}}
                    </td>
                    <td style="padding-left: 1.4em;">
                        <div style="margin-right: 6em;
            border: 1px solid #a0a4b0;
            font-size: 15px;width:33em;
        ">
                            <table class="tt">
                                <tr>
                                    <td>
                                        {{breaklines1 F9.value}}
                                    </td>
                                    <td style="vertical-align: top;">
                                        {{#ifEquals F9.rating 1}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s1.png">
                                        {{else}}
                                        {{#ifEquals F9.rating 2}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s2.png">
                                        {{else}}
                                        {{#ifEquals F9.rating 3}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/s3.png">
                                        {{else}}
                                        <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/sni.png">
                                        {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </DIV>



    <DIV id="page_13" style="page-break-before: always">
        <P class="p4 ft4 pageNumber"></P>
        <div style="margin-top:3em;">
            <div>
                <P class="p174 ft18" style="font-size: 16px;">Services are generally hidden within the construction of
                    the property. This means
                    that we can only inspect the visible parts of the available services, and we do not carry out
                    specialist tests. The visual inspection cannot assess the services to make sure they work
                    efficiently and safely, and meet modern standards.</P>
                <P class="p175 ft31">Limitations to inspection</P>
                <div style="border: 1px solid #a0a4b0;
                margin-right: 6em;font-size: 15px;">
                    <p class="para">{{breaklines1 G0.value}}</p>
                </div>
                <div>
                    <img>
                </div>
            </div>
        </div>
    </DIV> --}}
</BODY>

</HTML>