<!DOCTYPE html>
<HTML>


<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>Example HomeBuyer Report - HouzeCheck (1)</TITLE>
    <META name="generator" content="BCL easyConverter SDK 5.0.210">
    <link rel="stylesheet" href="https://pdfgenerator1.herokuapp.com/homebuyer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            counter-reset: page 1;
        }

        .img1 {
            margin-top: 3em;
            width: 11em;
            margin-left: 40em;
        }

        .img2 {
            width: 50em;
            margin: auto;
            display: block;
            margin-top: 15em;
        }

        .div1 {

            margin-top: 15em;
        }

        #page2Content {
            font-family: Century Schoolbook;
            margin-left: 5em;
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 10em;
        }

        .underPara {
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 20em;
        }

        .pageNumber::after {
            counter-increment: page;
            content: counter(page);
        }

        .header1 {
            font-family: Century Schoolbook;
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 14em;
        }




        .content-block {
            position: absolute;
            overflow: visible;
            overflow: auto
        }

        .tt1 {
            border-bottom: 1px solid #a0a4b0;
        }

        .tt1 tr:last-child td:last-child {
            border-bottom: 1px solid #a0a4b0;
            width: 18em;
        }

        .tt1 tr {
            line-height: 1px;
        }

        .tt2 tr td:first-child {
            vertical-align: baseline;
        }

        .para {
            padding-left: 0.5em;
            line-height: 1.5em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-right: 0.1px;
            font-size: 14px;
        }
    </style>
</HEAD>

<BODY>
    <DIV id="page_11" style="counter-reset:page {{num}};">
        <div>
            <div style="margin-left: 7em;">
                <P class="fft18" style="padding-right: 1.5em;width: 39em;font-size:15px;line-height:1.5em;">This section
                    describes energy related matters for the property as a whole. It takes
                    account of a broad range of energy related features and issues already identified in the previous
                    sections of this report, and discusses how they may be affected by the condition of the property</P>
                <P class="fft18" style="padding-right: 1.5em;width: 39em;font-size:15px;line-height:1.5em;">This is not
                    a formal energy assessment of the building but part of the report that
                    will help you get a broader view of this topic. Although this may use information obtained from an
                    available EPC, it does not check the certificate's validity or accuracy</P>
            </div>
            <div style="margin-top: -1em;">
                <table style="margin-top:1em;margin-left: 1.8em;border-collapse:separate;border-spacing:0 11px;"
                    class="tt2">
                    <tr>
                        <td>
                            <div style="text-align: end;font-size: 13px;">
                                K1<br>
                                Insulation
                            </div>
                        </td>
                        <td style="padding-left: 1.4em;">
                            <div style="margin-right: 6em;
                border: 1px solid #a0a4b0;
                font-size: 16px;width:37em;
            ">
                                <table>
                                    <tr>
                                        <td class="para">
                                            {{breaklines1 K1}}
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <div style="text-align: end;font-size: 13px;">
                                K2<br>
                                Heating
                            </div>
                        </td>
                        <td style="padding-left: 1.4em;">
                            <div style="margin-right: 6em;
                border: 1px solid #a0a4b0;
                font-size: 16px;width:37em;
            ">
                                <table>
                                    <tr>
                                        <td class="para">
                                            {{breaklines1 K2}}
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <div style="text-align: end;font-size: 13px;">
                                K3<br>
                                Lighting
                            </div>
                        </td>
                        <td style="padding-left: 1.4em;">
                            <div style="margin-right: 6em;
                border: 1px solid #a0a4b0;
                font-size: 16px;width:37em;
            ">
                                <table>
                                    <tr>
                                        <td class="para">
                                            {{breaklines1 K3}}
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <div style="text-align: end;font-size: 13px;">
                                K4<br>
                                Ventilation
                            </div>
                        </td>
                        <td style="padding-left: 1.4em;">
                            <div style="margin-right: 6em;
                border: 1px solid #a0a4b0;
                font-size: 16px;width:37em;
            ">
                                <table>
                                    <tr>
                                        <td class="para">
                                            {{breaklines1 K4}}
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <div style="text-align: end;font-size: 13px;">
                                K5<br>
                                General
                            </div>
                        </td>
                        <td style="padding-left: 1.4em;">
                            <div style="margin-right: 6em;
                border: 1px solid #a0a4b0;
                font-size: 16px;width:37em;
            ">
                                <table>
                                    <tr>
                                        <td class="para">
                                            {{breaklines1 K5}}
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </DIV>
</BODY>

</HTML>