<!DOCTYPE html>
<HTML>

<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>Example HomeBuyer Report - HouzeCheck (1)</TITLE>
    <META name="generator" content="BCL easyConverter SDK 5.0.210">
    <link rel="stylesheet" href="https://pdfgenerator1.herokuapp.com/homebuyer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            counter-reset: page 1;
        }

        .img1 {
            margin-top: 3em;
            width: 11em;
            margin-left: 40em;
        }

        .img2 {
            width: 50em;
            margin: auto;
            display: block;
            margin-top: 15em;
        }

        .div1 {

            margin-top: 15em;
        }

        #page2Content {
            font-family: Century Schoolbook;
            margin-left: 5em;
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 10em;
        }

        .underPara {
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 20em;
        }

        .pageNumber::after {
            counter-increment: page;
            content: counter(page);
        }

        .header1 {
            font-family: Century Schoolbook;
            border-bottom: 2px solid #a0a4b0;
            border-width: thick;
            width: 14em;
        }




        .content-block {
            position: absolute;
            overflow: visible;
            overflow: auto
        }

        .tt1 {
            border-bottom: 1px solid #a0a4b0;
        }

        .tt1 tr:last-child td:last-child {
            border-bottom: 1px solid #a0a4b0;
            width: 18em;
        }

        .tt1 tr {
            line-height: 1px;
        }

        .para {
            padding-left: 0.5em;
            padding-top: 0.5em;
            font-size: 13px;
        }
    </style>
</HEAD>

<BODY>
    <DIV id="page_4" style="padding-top:2em;page-break-before: always">
        <div style="margin-top: 1.5em;">
            <table>
                <tr>
                    <td>
                        <P class="p23 ft2">Surveyor's name</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 2.5em;
                    width: 35em;
                ">
                            <p class="para">{{breaklines A04}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p23 ft2">Surveyor's RICS number</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 2.5em;
                    width: 35em;
                ">
                            <p class="para">{{breaklines A05}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p23 ft2">Company name</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 2.5em;
                    width: 35em;
                ">
                            <p class="para">{{breaklines A011}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p23 ft2">Date of the inspection</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div class="row">
                            <div class="col">
                                <div style="border: 1px solid #a0a4b0;
                            height: 2.5em;
                            width: 12em;
                 ">
                                    <p class="para">{{breaklines A02}}</p>
                                </div>
                            </div>
                            <div class="col">
                                <P class="ft2" style="padding-top: 1em;margin-left: -1em;">Report reference number</P>
                            </div>
                            <div class="col">
                                <div class="col">
                                    <div style="margin-right: -1em;
                                border: 1px solid #a0a4b0;
                                height: 2em;
                                width: 12.5em;
                                margin-left: -4em;
                     ">
                                        <p class="para">{{breaklines A06}}</p>
                                    </div>
                                </div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p25 ft2">Related party disclosure</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 2.5em;width: 35em;
                ">
                            <p class="para">{{breaklines B2}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p25 ft2">Full address</P>
                        <P class="p25 ft2"> and postcode</P>
                        <P class="p25 ft2"> of the property</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 5em;width: 35em;
                ">
                            <p class="para">{{breaklines A09}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p25 ft2">Weather conditions</P>
                        <P class="p25 ft2"> when the inspection</P>
                        <P class="p25 ft2"> took place</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    height: 2.5em;width: 35em;
                ">
                            <p class="para">{{breaklines B4}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="p25 ft2">The status of the</P>
                        <P class="p25 ft2"> property when the</P>
                        <P class="p25 ft2"> inspection took place</P>
                    </td>
                    <td style="padding-bottom: 1em;">
                        <div style="
                    border: 1px solid #a0a4b0;
                    width: 35em;
                ">
                            <p class="para">{{breaklines B5}}</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </DIV>
    <DIV id="page_5" style="page-break-before: always">
        <DIV id="id5_1" style="margin-top:-2em;">
            <P class="p30 ft18">We inspect the inside and outside of the main building and all permanent outbuildings,
                but we do not force or open up the fabric. We also inspect the parts of the electricity, gas/oil, water,
                heating and drainage services that can be seen, but we do not test them.</P>
            <P class="p31 ft18">To help describe the condition of the home, we give condition ratings to the main parts
                (the 'elements') of the building, garage and some parts outside. Some elements can be made up of several
                different parts.</P>
            <P class="p32 ft18">In the element boxes in parts E, F, G and H, we describe the part that has the worst
                condition rating first and then briefly outline the condition of the other parts. The condition ratings
                are described as follows.</P>
            <img src="https://pdfgenerator1.herokuapp.com/images/homebuyer/123.PNG"
                style="padding-left: 121px;padding-top: 2em;">

            <P class="p37 ft17">Important note: We carry out a desk­top study and make oral enquiries for information
                about matters affecting the property.</P>
            <P class="p38 ft17">We carefully and thoroughly inspect the property using our best endeavours to see as
                much of it as is physically accessible. Where this is not possible an explanation will be provided.</P>
            <P class="p39 ft17">We visually inspect roofs, chimneys and other surfaces on the outside of the building
                from ground level and, if necessary, from neighbouring public property and with the help of binoculars.
                Flat roofs no more than 3m above ground level are inspected using a ladder where it is safe to do so.
            </P>
            <P class="p40 ft17">We inspect the roof structure from inside the roof space if there is safe access. We
                examine floor surfaces and under­floor spaces so far as there is safe access and permission from the
                owner. We are not able to assess the condition of the inside of any chimney, boiler or other flues. We
                do not lift fitted carpets or coverings without the owner's consent. Intermittent faults of services may
                not be apparent
                on the day of inspection
                .</P>
            <P class="p41 ft17">If we are concerned about parts of the property that the inspection cannot cover, the
                report will tell you about any further investigations that are needed.</P>
            <P class="p41 ft17" style="padding-bottom: 1em;">Where practicable and agreed we report on the cost of any
                work for identified repairs
                and make recommendations on how these repairs should be carried out. Some maintenance and repairs that
                we suggest may be expensive. Purely cosmetic and minor maintenance defects that have no effect on
                performance might not be reported. The report that we provide is not a warranty.</P>
            <div class="underPara" style="margin-left: 181px;width: 36em;"></div>
        </DIV>
    </DIV>
</BODY>

</HTML>